<div class="navbar-header">
    <div class="navbar-brand-container" style="color: beige;">
        <a class="navbar-brand" href="">🌤️ WeatherApp</a>
        <button title="Menu de navegación" class="navbar-toggler d-md-none" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">☰</span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="CollapseNavMenu">
                🏠 Inicio
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="current-weather" @onclick="CollapseNavMenu">
                🌤️ Clima Actual
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="weather" @onclick="CollapseNavMenu">
                📋 Pronósticos
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="counter" @onclick="CollapseNavMenu">
                🔢 Contador
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "nav-menu collapsed" : "nav-menu expanded";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}